.section__footer{
    padding: 1% 0;
    display: flex;
    text-align: center;
    flex-direction: column;
}
  
.footer__block{
display: flex;
justify-content: center;
gap: 1%;
}

.footer__icon{
color: #fff;
font-size: 70px
}

.section__footer h2{
margin-top: 1%;
font-size: 30px;
font-weight: 700;
color: #fff;
}